.search-filters {
    display: grid;
    grid-auto-flow: row;
}



.App {
    overflow: hidden;
    transition: .6s;
}

.darkMod {
    background: hsl(207, 26%, 17%);
    transition: .6s;

}

.darkMod * {
    color: hsl(0, 0%, 100%) !important;
}


@media (min-width: 1024px) {
    .App, .darkMod {
        min-height: 100vh ;
        overflow-y: hidden;
    }

    .search-filters {
        grid-auto-flow: column;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 10px;

    }

    .filter {
        justify-self: end;
    }
}

