.country-list {
    display: grid;
    grid-auto-flow: row;
    padding-left: 15px;
    padding-right: 15px;
    grid-gap: 20px;
} 



@media (min-width: 768px) {
    .country-list {
        grid-template-columns: repeat(2,1fr) ;
    }
}

@media (min-width: 1025px) {
    .country-list {
        grid-template-columns: repeat(4,1fr) ;
        padding: 0 30px;
        padding-bottom: 15px;

    }
}