.header {
    background: hsl(0, 0%, 100%);
    border-radius: 1px;
    box-shadow: 0 1px 3px hsl(0, 0%, 78%);
    padding: 30px 20px;
    max-width: 100%;
}


.darkHeader {
    background: hsl(209, 23%, 22%);
    border-radius: 1px;
    box-shadow: 0 1px 3px hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
    padding: 30px 20px;
    max-width: 100%;
    transition: 1s;
}

.heading {
    display: inline-block;
    font-size: 1.1rem;
}

