.country {
    border: 0;
    background: hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 0 1px 3px hsl(0, 0%, 78%);
    margin-left: 30px;
    margin-bottom: 30px;
    width: 325px;
    height: auto;
}

.country_flag img {
    object-fit: cover;
    object-position: center;
    height: 216px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.country_info {
    padding: 30px;
}

.country_info li {
    list-style-type: none;
    padding-bottom: 5px;
}

.country_name{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}


.country_details {
    font-size: 16px;
    font-weight: 600; 
}