.country {
    border: 0;
    background: hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 0 1px 3px hsl(0, 0%, 78%);
}


.darkCountry {
    background: hsl(209, 23%, 22%);
    border-radius: 5px;
    box-shadow: 0 1px 3px hsl(207, 26%, 17%); 
    transition: .6s ease-in-out;
}


.darkCountry > .country_flag img {
    box-shadow: 0 1px 3px hsl(207, 26%, 17%); 
}

.country_flag {
    position: relative;
    padding-bottom: 65%;
}


.country_flag img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 1px 3px hsl(0, 0%, 78%, .5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.country_info {
    padding: 30px;
}

.country_info li {
    list-style-type: none;
    padding-bottom: 5px;
}

.country_name{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}


.country_details {
    font-size: 16px;
    font-weight: 600; 
}

@media (min-width: 1024px) {
    .country_flag {
        position: relative;
        padding-bottom: 56.25%;
    }
}