.color-switch {
    float: right;
    font-weight: 600;
    text-decoration: none;
    outline: none;
}

.color-switch:active {
    color: hsl(200, 15%, 8%);
}


.lnr {
    padding-right: 10px;
    vertical-align: baseline;
    font-weight: 600;
    font-size: 90%;
}